.c1{
	background-color: #5fc0ce;
}
.c2{
	background-color: #36bbce;
}
.c3{
	background-color: #03899c;
}
.c4{
	background-color: #1f6b75;
}

.container {
	background-color: #efefef !important;
}

.navbar-collapse.in {
	overflow-y: visible !important;
}

.container-post {
	height: 250px;
	border-radius: 6px;
	position: relative;
}
/*
.head-post {
	height: 20%;
}

.content-post {
	height: 80%;
}

.footer-post{
	height: 20%;
}
*/
.bc {
	background-color:  #e6e6e6;
}


.z1{
	z-index: 1 !important;
}

.z2{
	z-index: 1000000000 !important;
}