body { padding-top: 70px; }
.c1{
	background-color: #5fc0ce;
}
.c2{
	background-color: #36bbce;
}
.c3{
	color: #03899c;
	font-weight: bold;
}
.c4{
	background-color: #1f6b75;
}

.container {
	background-color: #efefef !important;
}


.navbar-collapse.in {
	overflow-y: visible !important;
}

.container-post {
	max-height: 250px;
	min-height: 150px;
	border-radius: 6px;
	position: relative;
}

.rodape{
	padding: 10px;
	margin-top: 20px;
	background-color:  #1f6b75;
	text-align: center;
}

.post-btn {
	margin-bottom: 10px;
}

.bc {
	background-color:  #e6e6e6;
}